/* text */
.ez-up {
  text-transform: uppercase; }

.ez-cap {
  text-transform: capitalize; }

.ez-low {
  text-transform: lowercase; }

.ez-1 {
  font-size: 1px; }

.ez-2 {
  font-size: 2px; }

.ez-3 {
  font-size: 3px; }

.ez-4 {
  font-size: 4px; }

.ez-5 {
  font-size: 5px; }

.ez-6 {
  font-size: 6px; }

.ez-7 {
  font-size: 7px; }

.ez-8 {
  font-size: 8px; }

.ez-9 {
  font-size: 9px; }

.ez-10 {
  font-size: 10px; }

.ez-11 {
  font-size: 11px; }

.ez-12 {
  font-size: 12px; }

.ez-13 {
  font-size: 13px; }

.ez-14 {
  font-size: 14px; }

.ez-15 {
  font-size: 15px; }

.ez-16 {
  font-size: 16px; }

.ez-17 {
  font-size: 17px; }

.ez-18 {
  font-size: 18px; }

.ez-19 {
  font-size: 19px; }

.ez-20 {
  font-size: 20px; }

.ez-21 {
  font-size: 21px; }

.ez-22 {
  font-size: 22px; }

.ez-23 {
  font-size: 23px; }

.ez-24 {
  font-size: 24px; }

.ez-25 {
  font-size: 25px; }

.ez-26 {
  font-size: 26px; }

.ez-27 {
  font-size: 27px; }

.ez-28 {
  font-size: 28px; }

.ez-29 {
  font-size: 29px; }

.ez-30 {
  font-size: 30px; }

.ez-31 {
  font-size: 31px; }

.ez-32 {
  font-size: 32px; }

.ez-33 {
  font-size: 33px; }

.ez-34 {
  font-size: 34px; }

.ez-35 {
  font-size: 35px; }

.ez-36 {
  font-size: 36px; }

.ez-37 {
  font-size: 37px; }

.ez-38 {
  font-size: 38px; }

.ez-39 {
  font-size: 39px; }

.ez-40 {
  font-size: 40px; }

.ez-41 {
  font-size: 41px; }

.ez-42 {
  font-size: 42px; }

.ez-43 {
  font-size: 43px; }

.ez-44 {
  font-size: 44px; }

.ez-45 {
  font-size: 45px; }

.ez-46 {
  font-size: 46px; }

.ez-47 {
  font-size: 47px; }

.ez-48 {
  font-size: 48px; }

.ez-49 {
  font-size: 49px; }

.ez-50 {
  font-size: 50px; }

.ez-51 {
  font-size: 51px; }

.ez-52 {
  font-size: 52px; }

.ez-53 {
  font-size: 53px; }

.ez-54 {
  font-size: 54px; }

.ez-55 {
  font-size: 55px; }

.ez-56 {
  font-size: 56px; }

.ez-57 {
  font-size: 57px; }

.ez-58 {
  font-size: 58px; }

.ez-59 {
  font-size: 59px; }

.ez-60 {
  font-size: 60px; }

.ez-61 {
  font-size: 61px; }

.ez-62 {
  font-size: 62px; }

.ez-63 {
  font-size: 63px; }

.ez-64 {
  font-size: 64px; }

.ez-65 {
  font-size: 65px; }

.ez-66 {
  font-size: 66px; }

.ez-67 {
  font-size: 67px; }

.ez-68 {
  font-size: 68px; }

.ez-69 {
  font-size: 69px; }

.ez-70 {
  font-size: 70px; }

.ez-71 {
  font-size: 71px; }

.ez-72 {
  font-size: 72px; }

/* layout */
.ez-abs {
  position: absolute; }

.ez-rel {
  position: relative; }

.ez-fix {
  position: fixed; }

.m-0 {
  margin: 0em; }

.ml-0 {
  margin-left: 0em; }

.mr-0 {
  margin-right: 0em; }

.mt-0 {
  margin-top: 0em; }

.mb-0 {
  margin-bottom: 0em; }

.mx-0 {
  margin-left: 0em;
  margin-right: 0em; }

.my-0 {
  margin-top: 0em;
  margin-bottom: 0em; }

.p-0 {
  padding: 0em; }

.pl-0 {
  padding-left: 0em; }

.pr-0 {
  padding-right: 0em; }

.pt-0 {
  padding-top: 0em; }

.pb-0 {
  padding-bottom: 0em; }

.px-0 {
  padding-left: 0em;
  padding-right: 0em; }

.py-0 {
  padding-top: 0em;
  padding-bottom: 0em; }

.m-1 {
  margin: 1em; }

.ml-1 {
  margin-left: 1em; }

.mr-1 {
  margin-right: 1em; }

.mt-1 {
  margin-top: 1em; }

.mb-1 {
  margin-bottom: 1em; }

.mx-1 {
  margin-left: 1em;
  margin-right: 1em; }

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em; }

.p-1 {
  padding: 1em; }

.pl-1 {
  padding-left: 1em; }

.pr-1 {
  padding-right: 1em; }

.pt-1 {
  padding-top: 1em; }

.pb-1 {
  padding-bottom: 1em; }

.px-1 {
  padding-left: 1em;
  padding-right: 1em; }

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em; }

.m-2 {
  margin: 2em; }

.ml-2 {
  margin-left: 2em; }

.mr-2 {
  margin-right: 2em; }

.mt-2 {
  margin-top: 2em; }

.mb-2 {
  margin-bottom: 2em; }

.mx-2 {
  margin-left: 2em;
  margin-right: 2em; }

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em; }

.p-2 {
  padding: 2em; }

.pl-2 {
  padding-left: 2em; }

.pr-2 {
  padding-right: 2em; }

.pt-2 {
  padding-top: 2em; }

.pb-2 {
  padding-bottom: 2em; }

.px-2 {
  padding-left: 2em;
  padding-right: 2em; }

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em; }

.m-3 {
  margin: 3em; }

.ml-3 {
  margin-left: 3em; }

.mr-3 {
  margin-right: 3em; }

.mt-3 {
  margin-top: 3em; }

.mb-3 {
  margin-bottom: 3em; }

.mx-3 {
  margin-left: 3em;
  margin-right: 3em; }

.my-3 {
  margin-top: 3em;
  margin-bottom: 3em; }

.p-3 {
  padding: 3em; }

.pl-3 {
  padding-left: 3em; }

.pr-3 {
  padding-right: 3em; }

.pt-3 {
  padding-top: 3em; }

.pb-3 {
  padding-bottom: 3em; }

.px-3 {
  padding-left: 3em;
  padding-right: 3em; }

.py-3 {
  padding-top: 3em;
  padding-bottom: 3em; }

/*# sourceMappingURL=eazier.css.map */
